<template>
  <div class="logIn_use">
    <div class="container_logIn_imag">
       <img src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_12/2792916/10320-personal-trainer-gym-stock-cs-1113a.jpg" alt="Logotipo de cdlibre.org" width="749" height="487">
                
    </div>
    <div class="container_logIn_use">
      <h2>Nueva cuenta</h2>
      <form v-on:submit.prevent="createAccount">
        <input v-model="account.user" type="text" placeholder="User" />
        <input v-model="account.phoneNumber" type="text" placeholder="PhoneNumber" />
        <input v-model="account.city" type="text" placeholder="City" />
        <input v-model="account.weight" type="text" placeholder="Weight" />
        <input v-model="account.height" type="text" placeholder="Height" />
        <input v-model="account.traineeDays" type="text" placeholder="Trainee Days" />
         <p>Genero</p>
        <select v-model="account.gender">
          <option value="M">Masculino</option>
          <option value="F" selected>Femenino</option>  
        </select>
        <button type="submit">Crear cuenta</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {

  name: "Account",

  data: function () {
    return {
        account: {
            user:"",
            phoneNumber: "",
            city:"",
            weight:"",
            height:"",
            traineeDays:"",
            gender:""

        },
    };
  },
  methods: {
      createAccount: async function(){
          console.log("Ingresando", this.account)
          try{
            let url = "https://backendgymg7.herokuapp.com/accounts/";
            let body = this.account
            let config = {headers: {}}
            let result = await axios.post(url, body, config)
            this.$router.push('home')
            this.$emit('creationCompleted', result)
          }catch(error){
              console.log(error)
              alert("Error inesperado")
          }
      }
  },
  created: function () {},
};
</script>

<style>
.container_logIn_imag {
  
  position: absolute;
  top: 35%;
  left: 29%;
  transform: translate(-50%, -25%);
}



.container_logIn_use {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0);
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.logIn_use {
  margin: 0;
  padding: 0%;
  height: 20%;
  width: 20%;
  display: flex;
  
  align-items: center;
}
.container_logIn_use {
  left: 79%;
  border: 3px solid #f7920e;
  border-radius: 10px;
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.logIn_use h2 {
  color: #0e0c0a;
}
.logIn_use form {
  width: 70%;
}
.logIn_use input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #f7920e;
}
.logIn_use button {
  width: 100%;
  height: 40px;
  color: black;
  background: #f7920e;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.logIn_use button:hover {
  color: black;
  background: crimson;
  border: 1px solid #f7920e;
}
button{
    cursor: pointer;
}
</style>