<template>
<div class="container_group_imag">
       <img src="https://www.snapfitness.com/assets/3634eccf1d/tonificar-piernas-gluteos-mujer.png" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
<div class="container_grou_imag">
       <img src="https://www.fundeu.es/wp-content/uploads/2020/03/gimnasio_gym_efespthirteen565662.jpg" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
<div class="container_gro_imag">
       <img src="https://frasesdelavida.com/wp-content/uploads/2018/04/Frases-de-gym.jpg" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
<div class="container_gr_imag">
       <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/oxygen-gym-1605176290.jpg" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
  <div class="logIn_use">
    <div class="container_logIn_us">
      <h2>Reserva tu clase</h2>
      <form v-on:submit.prevent="createGroup">
        <input v-model="group.name" type="CharField"  placeholder="Nombre" >
        <input v-model="group.date" type="datetime-local"  placeholder="date" />
        
       <p>Selecione la intensidad </p>
        <select v-model="group.group_type">
          <option value="B">Basico</option>
          <option value="M" selected>Medio</option> 
          <option value="A">Avanzado</option>
        </select>
         <p>Elija la clase  </p>
        <select v-model="group.group_class">
          <option value="E">Aerobic</option>
          <option value="R" selected>Aerobox</option> 
          <option value="Q">Aquagym</option>
          <option value="O">BodyJam</option>
          <option value="C" selected>Calistenia</option> 
          <option value="J">Jukari</option>
        </select>

        <br />
        <button type="submit">Agregar reserva</button>
        
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {

  name: "Group",

  data: function () {
    return {
        group: {
            name: "",
            date: "" ,
            group_type: "",
            group_class: ""


        },
    };
  },
  methods: {
      createGroup: async function(){
          console.log("ENTRAAAAAA", this.group)
          try{
            let url = "https://backendgymg7.herokuapp.com/groups/";
            let body = this.group
            let config = {headers: {}}
            let result = await axios.post(url, body, config)
            this.$router.push('reservation')
            this.$emit('creationCompleted', result)
          }catch(error){
              console.log(error)
              alert("Error inesperado")
          }
      }
  },
  created: function () {},
};
</script>

<style>
.container_group_imag {
  
  position: absolute;
  top: 25%;
  left: 13%;
  transform: translate(-50%, -25%);
}
.container_grou_imag {
  
  position: absolute;
  top: 65%;
  left: 13%;
  transform: translate(-50%, -25%);
}
.container_gro_imag {
  
  position: absolute;
  top: 25%;
  left: 78%;
  transform: translate(-20%, -25%);
}
.container_gr_imag {
  
  position: absolute;
  top: 65%;
  left:78%;
  transform: translate(-20%, -25%);
}
.errorMessage{
    font-family: sans-serif;
    font-size: 13px;
    color: red;
}
.container_logIn_us {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
}
.logIn_use {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_logIn_us {
  
  border-radius: 10px;
  width: 45%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logIn_use h2 {
  color: #0a0a0a;
}
.logIn_use form {
  width: 70%;
}
.logIn_use input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 5px 0;
  border: 1px solid #0a0a0a;
}
.logIn_use button {
  width: 100%;
  height: 40px;
  color: #070808;
  background: #f7920e;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.logIn_use button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #f7920e;
}
button{
    cursor: pointer;
}
</style>