<template>
    <div class="container_hom">
      <div class="container_hom_img">
        <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="Logotipo de cdlibre.org" width="100" height="100">
                
      </div>

      <div class="container_hom_data">
      
        <table class="table sm">
          <tr>
            <th>
              ID
            </th>
            <th>
              Usuario
            </th>
            <th>
              Número
            </th>
            <th>
             Ciudad
            </th>
            <th>
              Altura
            </th>
            <th>
              Peso
            </th>
            <th>
              Dias Entrenamiento
            </th>
            <th>
              Genero
            </th>
            <th>
              Eliminar
            </th>
                    
          </tr>
          <tr v-for="account in accounts">
            <td>
              {{account.id}}
            </td>
            <td>
              {{account.user}}
            </td>
            <td>
              {{account.phoneNumber}}
            </td>
            <td>
                        {{account.city}}
                    </td>
                    <td>
                        {{account.weight}}
                    </td>
                    <td>
                        {{account.height}}
                    </td>
                    <td>
                        {{account.traineeDays}}
                    </td>
                    <td>
                        {{account.gender}}
                    </td>
                    <td class="button_delete">
                        <button v-on:click="deleteAccount(account.id)">*</button>
                    </td>
          </tr>
        </table>
      </div>

      <div class="container_hom_mipagina">
        <h2>Mi Aplicación</h2>
            
      </div>

       <div class="container-button">
                <button v-on:click="loadAccount" class="button_custom">Crear cuenta</button>
            </div>
            
      <router-view v-on:creationCompleted="creationCompleted" ></router-view>
        
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "home",

  data: function () {
    return {
      accounts: []
    };
  },
  methods: {
    loadAccount: function(){
            this.$router.push({name: 'account'});
    },
    listAccounts: function () {
      let url = "https://backendgymg7.herokuapp.com/accounts/"; 
      let config = {headers: {}}
      axios.get(url, config)
      .then((response)=>{
        console.log(response)
        this.accounts = response.data
      }).catch((error)=>{
        console.log(error)
        alert("Intente mas tarde")
      })
    },
  
    deleteAccount: async function(id){
      try{
        let url = 'https://backendgymg7.herokuapp.com/account/' + id 
        let config = {headers: {}}
        await axios.delete(url, config)
        this.listAccounts()
        }catch(error){
          console.log(error)
          alert("Ocurrió un error inesperado")
      }         
  },

  creationCompleted: function(){
        this.$router.push({name: 'home'});
        this.listAccounts();
      }
  },
  created: function () {
    this.listAccounts();
  },
};
</script>

<style>
.container_hom_img {
  
    margin-top: 40px;
    margin-left: 20%;
    


}


.container_hom_mipagina {
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%)
  
}

.container_hom h2 {
  color: #0e0c0a;
  align-items: center;
 
}

.container_hom_data{
  margin-left: 150px;
  margin-top: 5%;
  margin-right: 150px;
  font-family: sans-serif;
  font-size: 0.4cm;
}

.button_custom {
  background: #fdfdfc;
  color: black;
  background: #f7920e;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
  margin-left: 45%;
  margin-top: 5%;
}






</style>
