<template>
<div class="container_group_imag">
       <img src="https://www.snapfitness.com/assets/3634eccf1d/tonificar-piernas-gluteos-mujer.png" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
<div class="container_grou_imag">
       <img src="https://www.fundeu.es/wp-content/uploads/2020/03/gimnasio_gym_efespthirteen565662.jpg" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
<div class="container_gro_imag">
       <img src="https://frasesdelavida.com/wp-content/uploads/2018/04/Frases-de-gym.jpg" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
<div class="container_gr_imag">
       <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/oxygen-gym-1605176290.jpg" alt="Logotipo de cdlibre.org" width="330" height="287">               
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "inicio",

  data: function () {
    return {
    };
  },
  methods: {
    loadinicio: function(){
             
  },
  created: function () {
  },
}
</script>
<style>

</style>
