<template>
  <div class="logIn_user">
     <div class="container_logIn_imag">
       <img src="https://i.pinimg.com/originals/ec/24/4b/ec244bb8509a6a9f1d06f77bce19520b.jpg" alt="Logotipo de cdlibre.org" width="749" height="487">
                
    </div>
    <div class="container_logIn_user">
      <h2>Iniciar sesión</h2>
      <form v-on:submit.prevent="processLogInUser">
        <input type="text" v-model="user.username" placeholder="Username" />
        <br />
        <input type="password" v-model="user.password" placeholder="Password" />
        <br />
        <button type="submit">Iniciar Sesion</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "LogIn",

  data: function () {
    return {
        user: {
            username: "",
            password: ""
        }
    };
  },
  methods: {
      processLogInUser: async function(){
          console.log("INGRESANDO CON LOS SIGUIENTES DATOS:")
          console.log(this.user)
          let endpoint = "https://backendgymg7.herokuapp.com/rest-auth/login/";
          let body = this.user;
          let params = {headers:{}}
          try{
              let result = await axios.post(endpoint, body, params)
              console.log(result)
              this.$emit('completedAuth', result)
          }catch(error){
              if(error.response.status == 400)
                  alert("Usuario o contraseña incorrectos")
              else
                  alert("Error inesperado, intente de nuevo más tarde")
              console.log(error.response)
          }
      }
  },
  created: function () {},
};
</script>

<style>
.container_logIn_imag {
  
  position: absolute;
  top: 35%;
  left: 29%;
  transform: translate(-50%, -25%);
}



.container_logIn_user {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0);
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.logIn_user {
  margin: 0;
  padding: 0%;
  height: 20%;
  width: 20%;
  display: flex;
  
  align-items: center;
}
.container_logIn_user {
  left: 79%;
  border: 3px solid #f7920e;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.logIn_user h2 {
  color: #0e0c0a;
}
.logIn_user form {
  width: 70%;
}
.logIn_user input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #f7920e;
}
.logIn_user button {
  width: 100%;
  height: 40px;
  color: black;
  background: #f7920e;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.logIn_user button:hover {
  color: black;
  background: crimson;
  border: 1px solid #f7920e;
}
button{
    cursor: pointer;
}
</style>