<template>
    <div>
        <h1>____________</h1>
        <h8 class=lista><strong>   Guia de Ciclas en Intensidad</strong></h8>
        <ul>
            <li>B = Basico </li>
            <li>M = Medio</li>
            <li>A = Avanzado</li>
        </ul> 
        <h8><strong>Guia de Ciclas de clases</strong></h8>
        <ul>
            <li>E = Aerobic</li>
            <li>R = Aerobox </li>
            <li>Q = Aquagym</li>
            <li>O = BodyJam</li>
            <li>C = Calistenia </li>
            <li>J = Jukari</li>
           
        </ul>   
        </div>
    <div class="container container_home">    
        <div>
            <h2>Reservación</h2>
            <table class="table">
                <tr>
                    <th>
                        ID
                    </th>
                    <br>
                    <th>
                        Name
                    </th>
                    <br>
                    <th>
                        Fecha y Hora
                    </th>
                    <br>
                    <th>
                        Intensidad
                    </th>
                    <br>
                    <th>
                        Clase 
                    </th>
                    <br>
                    <th>
                        Delete
                    </th>

                </tr>
                <tr v-for="group in groups">
                    <td>
                        {{group.id}}
                    </td>
                    <br>
                    <td>
                        {{group.name}}
                    </td>
                    <br>
                    <td>
                        {{group.date}}
                    </td>
                    <br>
                    <td>
                        {{group.group_type}}
                    </td>
                    <br>
                    <td>
                        {{group.group_class}}
                    </td>
                    <br>
                    <td class="button_delete">
                        <button v-on:click="deleteGroup(group.id)">X</button>
                    </td>
                </tr>
            </table>
            <div class="container-button">
                <button v-on:click="loadGroup" class="button_custom">Crear reserva</button>
            </div>
            
             <router-view v-on:creationCompleted="creationCompleted" ></router-view>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "reservation",

  data: function () {
    return {
        groups: []
    };
  },
  methods: {
        loadGroup: function(){
            this.$router.push({name: 'group'});
        },
      listGroups: function(){
          let url = "https://backendgymg7.herokuapp.com/groups/";
          let config = {headers: {}}
          axios.get(url, config)
          .then((response)=>{
              console.log(response)
              this.groups = response.data
          }).catch((error) => {
              console.log(error)
              alert("ocurrió algo inesperado, intente de nuevo más tarde")
          })
      },
      deleteGroup: async function(id){
          try{
            let url = 'https://backendgymg7.herokuapp.com/group/' + id 
            let config = {headers: {}}
            await axios.delete(url, config)
            this.listGroups()
          }catch(error){
              console.log(error)
              alert("Ocurrió un error inesperado")
          }         
      },
      creationCompleted: function(){
        this.$router.push({name: 'reservation'});
        this.listGroups();
      }
  },
  created: function () {
      this.listGroups();
  },
};
</script>


<style>

.container_home {
    margin-left: 150px;
    margin-top: 5%;
    margin-right: 150px;
    font-family: sans-serif;
    font-size: 0.4cm;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto; 
  padding: 50px;
}
.container{
    margin-top: 20px;
}
.table{
    margin-top: 20px;
}

h2{
    text-align: center;
}
.green{
    color: rgb(6, 66, 6);
}
.red{
    color: rgb(143, 19, 19);
}
.button_delete{
    text-align: center;
}
.button_custom {
  color: #070808;
  background:#f7920e;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.container-button{
    text-align: center;
}
</style>