<template>
  <div class="logIn_user">
    <div class="container_logIn_imag">
       <img src="https://i.pinimg.com/originals/ec/24/4b/ec244bb8509a6a9f1d06f77bce19520b.jpg" alt="Logotipo de cdlibre.org" width="749" height="487">
                
    </div>
    <div class="container_logIn_user">
      <h2>Registrarse</h2>
      <form v-on:submit.prevent="signUpUser">
        <input v-model="user.username" type="text" placeholder="Username" />
        <br />
        <input  v-model="user.password1" type="password" placeholder="Password" />
        <br />
        <input  v-model="user.password2" type="password" placeholder="Confirm Password" />
        <br />
        
        <p v-if="failed" class="errorMessage">Error inesperado</p>
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "SignUp",
  data: function () {
    return{
      user: {
        username: "",
        
        password1: "",
        password2: "",
        
      },
      failed: false
    };
  },
  methods: {
    signUpUser: function(){
          console.log("REGISTRANDO EL USUARIO:")
          console.log(this.user)
          let url = "https://backendgymg7.herokuapp.com/rest-auth/registration/";
          let body = this.user
          let config = {headers: {}}
          axios.post(url, body, config)
            .then((result) => {
                this.failed = false;
                alert("Usuario registrado correctamente");
                console.log(result)
                this.$emit('completedAuth',result)
            }).catch((error) => {
                this.failed = true;
                console.log(error.response)
                alert("Error inesperado, intente más tarde")
            })
      }
  },
  created: function () {  },
};

</script>

<style>
.errorMessage{
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(248, 81, 81);
}

.container_logIn_imag {
  
  position: absolute;
  top: 35%;
  left: 29%;
  transform: translate(-50%, -25%);
}


.container_logIn_user {
  
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0);
  position: absolute;
  top: 55%;
  left: 72%;
  transform: translate(-50%, -50%);
}

.logIn_user {
  margin: 0;
  padding: 0%;
  height: 20%;
  width: 20%;
  display: flex;
  
  align-items: center;
}

.container_logIn_user {
  left: 79%;
  border: 3px solid #f7920e;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logIn_user h2 {
  color: #0e0c0a;
}
.logIn_user form {
  width: 70%;
}
.logIn_user input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #f7920e;
}
.logIn_user button {
  width: 100%;
  height: 40px;
  color: black;
  background: #f7920e;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.logIn_user button:hover {
  color: black;
  background: crimson;
  border: 1px solid #f7920e;
}
button{
    cursor: pointer;
}

</style>