<template>
<div id="app" class="app">
    <div class="header">
      <h2>GYM_TIC</h2>
      <nav class="container-buttons">
        <button v-if="is_auth" v-on:click="loadInicio">Inicio</button>
        <button v-if="is_auth" v-on:click="loadHome">Perfil</button>  
        <button v-if="is_auth" v-on:click="loadreservation">Reservación</button>
        <button v-if="is_auth" v-on:click="logout">Cerrar sesión</button>
        <button v-if="!is_auth" v-on:click="loadLogIn">Iniciar Sesión</button>
        <button v-if="!is_auth" v-on:click="loadSignUp">Registrarse</button>
      </nav>
    </div>
    <div class="main-component">
      <router-view
       v-on:completedAuth="completedAuth"
       ></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data: function () {
    return {
      is_auth: false,
    };
  },
  methods: {
    verifyAuth: function(){
      this.is_auth = localStorage.getItem("is_auth") || false;
       if(this.is_auth){
        this.loadreservation();
      }else{
        this.loadLogIn();
      }
    },
    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },
    loadSignUp: function () {
      this.$router.push({ name: "signUp" });
    },
    loadHome: function () {
      this.$router.push({ name: "home" });
    },
    loadreservation: function () {
      this.$router.push({ name: "reservation" });
    },
    
    completedAuth: function(data){
      this.is_auth = true;
      console.log("entra", data)
      localStorage.setItem('is_auth', true)
      localStorage.setItem('token', data.data.key)
      this.verifyAuth();
    },
    logout: function(){
      this.is_auth = false;
      localStorage.clear()
      this.verifyAuth();
    }
  },
  created: function () {
    this.verifyAuth();
  },
};
</script>

<style>
body {
  margin: 0;
}

.header {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, -50px -3px 12px -21px rgba(0,0,0,0);
  
  padding: 0;
  width: 100%;
  height: 10vh;
  background-color: #f7920e;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  text-align: center;
 padding-left: 50px;
  font-family: sans-serif;
}

.container-buttons button {
     background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-right: 30px;
}
*{
  font-family: cursive;
}


</style>